{% extends "base.html" %}
{% load article_tags %}
{% block title %} articles {% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>你好 菜🐶</h1>
    <p>这里现在有{% total_articles %}只🐂🍺供你吹</p>
</div>
<div class="panel panel-default">
    {% for article in articles %}
    <div class="panel panel-warning">
        <div class="panel-heading"><a href="{{article.get_url_path}}">
            {{article.title}}
        </a>
        </div>
        <div class="panel-body">
            <a href="{% url "article:author_articles" article.author.username %}">{{article.author.username}}</a>
            {{article.body|slice:'70'| linebreaks}}
        </div>
    </div>
    {% endfor %}
{% include "paginator.html" %}
</div>
{% endblock %}